@media (max-width: 768px) {
	.coluna-2,
	.coluna-3 {
		width: 100%;
		padding: 0;
	}
	#s_apresentacao {
		padding: 7rem 2rem 10rem 2rem
	}
	#s_apresentacao img {
    	width: 100%;
	}
	.conteudo {
		padding: 1.75em;
	}
	#contato_form {
	    max-width: 100%;
	    margin: 0;
	}
	#map {
		z-index: 1;
		height: 20em;
	}
	h1 {
		font-size: 1.25rem;
    	margin-bottom: 0;	}
	h3 {
		font-size: 1rem;
	}
	.conteudo-modal {
	    margin: 30% auto;
    	width: 75%;
	}
}
