/* PALETA
Azul: rgba(45, 0, 160, 1);
Verde: rgba(0, 171, 73, 1);
Branco: rgba(255, 255, 255, 1);
Preto: rgba(0, 0, 0, 1);
Cinza claro: rgba(211, 211, 211, 1);
Cinza escuro: rgba(40, 40, 40, 1);
Cinza leitura: rgba(142, 142, 142, 1);
*/
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: Raleway;
	src: url(../fonts/Raleway-Regular.ttf);
}
body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	color: rgba(45, 0, 160, 1);
	font-family: Raleway, sans-serif;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 0.75rem;
}
a {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}
p {
	color: rgba(142, 142, 142, 1);
}
p, a, li {
	font-size: 1rem;
}
li a:hover {
	color: rgba(0, 171, 73, 1);
}
section {
	padding: 2em;
}
.logotipo-responsivo {
	height: 100%;
}
.img-responsiva {
	width: 100%;
}
.texto-centralizado {
	text-align: center;
}
.texto-esquerda {
	text-align: left;
}
.texto-direita {
	text-align: right;
}
.letra-cor-branca {
	color: rgba(255, 255, 255, 1);
}
.letra-cor-verde {
	color: rgba(0, 171, 73, 1);
}
.letra-cor-azul {
	color: rgba(45, 0, 160, 1);
}
.posicao-esquerda {
	float: left;
}
.posicao-direita {
	float: right;
}
.cabecalho {
	padding: 2em;
}
.conteudo {
	padding: 4em;
}
.linha {
	width: 100%;
}
.coluna-3 {
	width: 32.3333%;
	display: inline-block;
}
.coluna-3 p {
	margin: 0;
	padding: 0;
	display: inline-flex;
}
.coluna-2 {
	width: 46%;
	display: inline-block;
	padding: 1em;
}
#menu {
	padding: 1em;
}

header {
	position: absolute;
	width: 100%;
}
section i {
	font-size: 2rem;
}
#navegacao {
	background-color: transparent;
	height: 3.5rem;
    width: 100%;
}
.itens {
	float: right;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.itens li {
	display: inline-block;
	padding-left: 1rem;
}
#s_apresentacao {
	height: 100%;
	background-image: url(../img/background-cloud-min.jpg);
	background-repeat: no-repeat;
	background-color: rgba(211, 211, 211, 1);
	padding: 5rem 5rem 5rem 5rem;
}

#s_apresentacao img {
    margin: 3rem auto 0;
    display: block;
}
#iniciar_siged button {
	margin: 5rem auto 0;
	display: block;
	background-color: rgba(45, 0, 160, 1);
	border: 1px solid rgba(45, 0, 160, 1);
	padding: 0 1rem;
	border-radius: 0.5rem;
}

#s_portfolio {
	background-color: rgba(0, 171, 73, 1);
}
#s_portfolio h3 {
	padding-top: 2em;
}
#img-portfolio {
	width: 50%;
	margin: 0 auto;
	display: block;
}
#s_contato {
	padding: 0;
}
#map {
	width: 100%; 
	height: 30rem;
	z-index: -9999;
}
#contato_form {
	max-width: 25em;
	height: 100%;
	padding: 1.2em;
    margin: -480px 0 0 0;
    z-index: 10002;
    background-color: rgba(0,0,0,0.1);
}
#contato_form input,
#login_form input,
#contato_form textarea {
	width: 96%;
    padding: 0.30em;
    margin: 0.5em 0;
}
#contato_form p {
	margin: 0;
}
#contato_form button {
	margin: 1rem auto 0;
	display: block;
	background-color: rgba(0, 171, 73, 1);
	border: 1px solid rgba(0, 171, 73, 1);
	border-radius: 0.25rem;	
}
#contato_form button h5,
#login_form button h5 {
	margin: 0;
	padding: 1rem;
}

#rodape {
	padding: 1rem 2rem;
	background-color: rgba(40, 40, 40, 1);
}
#rodape p {
	color: rgba(255, 255, 255, 1);
	display: inline;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.conteudo-modal {
    background-color: rgba(255, 255, 255, 1);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1.15em;
    border: 1px solid rgba(142, 142, 142, 1);
    width: 30%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
#login_form button {
	margin: 1rem auto 0;
	display: block;
	background-color: rgba(0, 171, 73, 1);
	border: 1px solid rgba(0, 171, 73, 1);
	border-radius: 0.25rem;	
}

/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 2rem;
}

.close:hover,
.close:focus {
    color: rgba(40, 40, 40, 1);
    text-decoration: none;
    cursor: pointer;
}


@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}